/* Палітра кольорів:
чорний колір #212121
вторинний чорний колір #757575;
білий колір #FFFFFF
акцент #2196F3;
колір футера rgba(255, 255, 255, 0.6);
вторинний колір фону #F5F4FA;
колір фону #F5F5F5;
колір фону нав #FFFFFF;
колір фону футер і мейн #2F303A; */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-text-color: #212121 ; 
    --second-text-color: #757575;
    --accent-color: #2196F3 ;
    --white-bgc: #FFFFFF;
    --hero-bgc: #2F303A;
    --white-color: #FFFFFF;
    --secondary-white-color:#F5F5F5;;
    --third-white-color: #F5F4FA;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --black-color: #000000;
}

/* Logo */

.logo {
    color: #2196F3;
}

ul {
    list-style: none;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    margin: 0;
}

.link {
    text-decoration: none;
}

.colortext {
    color: var(--black-color);
}
.colortext_footer {
    color: var(--white-color);
}
/* Navigation */

.site-nav {
    background-color: var(--white-bgc);
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.93;
    letter-spacing: 0.03em;
    color: var(--accent-color)
}

.site-nav-list {}

.site-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.auth-nav-list {}

.auth-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
    color: var(--accent-color);
}

.auth-nav-link:hover,
.auth-nav-link:focus {
    color: var(--accent-color);
}

.site-nav .site-nav-link.current {
    color: var(--accent-color);
}

/* Hero */

.hero {
    background: var(--hero-bgc);
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}

.hero-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    
}

/* Benefists */

.benefits {
    background: var(--secondary-white-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.benefits-list {}

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.benefits-text {
    font-size: 14px;
    line-height: 1.71;    
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/* Product */

.product {
    background-color: var(--secondary-white-color);
}

.product-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.product-list {}

.product-item {}

.section-title {
    color: var(--primary-text-color)
}

/* Team */

.team {
    background-color: var(--third-white-color);
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.team-list {}

.team-item {}

.team-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.team-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

/* Footer */

.contacts {
    background-color: var(--hero-bgc);
}

.contacts-link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.93;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.adress {
    font-style: normal;
}

.adress-list {

}

.adress-item {
}

.adress-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
}

.adress-item-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
}

.adress-item-link:hover,
.adress-item-link:focus {
    color: var(--accent-color);
}

/* Portfolio */

.portfolio {
    background-color: var(--secondary-white-color);
}

.portfolio-list-btn {}

.portfolio-btn {
    cursor: pointer;
    background-color: var(--third-white-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)
}

.portfolio-btn:focus,
.portfolio-btn:hover {
    color: var(--white-color);
    background-color: var(--accent-color);
}

.portfolio-list {}

.portfolio-item {}

.portfolio-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color)
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}